@import url(presentation.css);

/* play_lg from presentation section */

.details__items {
  padding: 10px 0 10px;
  display: flex;
  gap: 15px;
}

.details__item {
  position: relative;
  width: 300px;
  height: 232px;
}

.details__item:first-of-type {
  margin-left: 13px;
  overflow: hidden;
  background-color: #ec9e03;
}

.details__item:last-of-type {
  margin-right: 13px;
  background-color: #ec9e03;
}

.details__item-text,
.twitter__text {
  font-size: 25px;
  font-weight: 300;
  line-height: 33px;
  color: #ffffff;
}

.details__item-text {
  position: absolute;
  left: 50%;
  top: 38%;
  -webkit-transform: translate(-50%, -50%);
  width: 235px;
}

span.plus {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 25px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}

.plus:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.details__item-btn {
  width: 62px;
  height: 62px;
}

.details__item-btn::after {
  border-top: 17px solid transparent;
  border-left: 17px solid #ffffff;
  border-bottom: 17px solid transparent;
}
