.devices {
    padding-top: 30px;
    background-color: #474747;
}

h2 {
    margin-top: 0;
    font-size: 39px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #f5c506;
}

.devices__items {
    padding-top: 30px;
    padding-bottom: 55px;
    display: flex;
    gap: 25px;
}

.computer {
    margin-left: 57px;
}

.tablet {
    margin-top: 42px;
}

.phone {
    margin-top: 151px;
}

.badge-holder {
    position: relative;
}

.devices__item-badge-wrap {
    position: absolute;
    top: -35px;
    left: 27px;
}

.devices__item-badge {
    position: relative;
    height: 116px;
    width: 116px;
    border-radius: 50%;
    background-color: #f5c506;
}

.devices__item-badge span {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    width: 105px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 19px; /* temporary */
    color: #ffffff;
}