.footer {
  height: 52px;
  background-color: #474747;
  /* border-top: 5px solid; */
}

.footer_gradient {
  height: 7px;
  width: 100%;
  background: linear-gradient(#474747, #000000);
}

.footer__logo {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.footer__logo-item img {
  width: 31px;
}

.footer__logo-text {
  font-size: 17px;
  font-style: italic;
  font-weight: 500;
  color: #ffffff;
  filter: drop-shadow(1px 1.732px 0px rgba(0, 0, 0, 0.42));
}

/* footer height: 43px; logo  margin-left: 11px; margin-top: 5px; */
