.header {
  /* box-shadow: 0 1px 0 1px 4px #434343; */
  box-shadow: 0 4px 2px -2px black;
}

ul.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* width: 100%; */
  /* background: #f0c106; */
}

.nav__item,
.nav__item a {
  display: flex;
  align-items: center;
}

.nav__item {
  padding: 9px 15px;
  border-left: 1px solid rgba(82, 66, 2, 0.3);
  cursor: pointer;
}

.header__logo-img {
  margin-right: 8px;
}

.header__logo-text, .logo__text {
  font-weight: 500;
  font-style: italic;
  font-size: 19px;
  color: #ffffff;
  filter: drop-shadow(1px 1.732px 5px rgba(0, 0, 0, 0.42));
}

.header__logo-text:hover {
  color: #f1b65c;
}

.nav-bg {
  background: url(../img/nav-bg.jpg);
}

.nav__item:first-of-type {
  border-left: none;
}

.nav__item:last-of-type {
  border-right: none;
}

.nav__item-icon {
  margin-right: 11px;
}

.nav__item-text span {
  margin-left: 11px;
}

.hovhov:hover {
  fill: #463907;
}

.nav__item-text {
  font-size: 19px;
  color: #9b7d08;
}

.nav__item-text:hover {
  color: #463907;
}
