@import url(header.css);
@import url(presentation.css);
@import url(features.css);
@import url(details.css);
@import url(twitter.css);
@import url(devices.css);
@import url(footer.css);
@import url(media-queries.css);
@import url(main.css);

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #474747;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: 600;
}
